<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Logging in</title>
  </head>

  <body>
    <form method="POST" action="/login">
      <fieldset>
        <legend>Log In</legend>
        <label for="email">email:</label><br />
        <input type="text" id="email" name="email" value="" placeholder="Enter your email" /><br />
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="" placeholder="Enter your password" /><br />
        <button type="submit">Log In</button>
        <button><a href="/register">Register</a></button>
      </fieldset>
    </form>
  </body>
  
</html>