<!doctype html>
<html>
  <head>
    <title>Logging in</title>
  </head>
  <body>
    <form method="POST" action="/login">
      <fieldset>
        <legend>Log In</legend>
        <label for="username">username:</label><br>
        <input type="text" id="username" name="username" value="" placeholder="Enter your username" /><br />
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="" placeholder="Enter your password" /><br />
        <button type="submit">Log In</button>
      </fieldset>
    </form>
  </body>
</html>